# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.json

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
